/*Style the body with the following:
Default text is Times New Roman font with a sans-serif as a fallback option**
The background color is black (use hexadecimal values)
The foreground is white (use hexadecimal values)
*/
body{
	font-family: 'Times New Roman', sans-serif;
	background-color: #000000;
	color: white;
}


/*Header 1 is 64px, centered, and has padding of 10px
*/
h1{
	font-size: 64px; 
	text-align: center;
	padding: 10px;
}

/*Header 2 is 32px, with grey (#808080) drop shadow 
(use text-shadow property) that is offset 4px horizontally, 
4px vertically, and 2px blur*/
h2{
	font-size: 32px; 
	text-shadow: 4px, 4px, 2px, #808080;
}

/*Paragraphs use 24px font and have 15px padding on the top only*/
p {
	font-size: 24px;
    padding: 15px;
}

/*Images match the following styles:
All images are on their own line
All images are centered 
All images are 550px wide  (the image should not be warped or stretched)
*/
img{
    height: auto;
    width: 550px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

div#intro {
	height: 150px;
	padding: 25px;
	height: auto;

} 

div#red {
	height: 150px;
	padding: 25px;
	height: auto;
	background-color: red;
	text-align: right;

} 

div#blue {
	height: 150px;
	padding: 25px;
	height: auto;
	background-color: blue;
	text-align: left;
} 

div#yellow {
	height: 150px;
	padding: 25px;
	height: auto;
	background-color: yellow;
	text-align: right;
	

} 

div#green {
	height: 150px;
	padding: 25px;
	height: auto;
	background-color: green;
	text-align: left;
} 

/*Add borders around the main components and some
space too*/
/* header, nav, main, h1, footer{
	border: 2px solid grey;
	margin: 10px 0;
} */

footer p{
	display: block;
	padding-right: 10px;
	padding-bottom: 10px;
}

/*Change the styling for all of the list 
items in the nav section*/
nav li{
	background-color: #ECFF4D;
	padding:10px;
	width:25%;
	border:1px solid black;
	display: inline-block;
	width: 20%;
}



/*Added this so the links stay the same color*/
a:visited{color:#0000FF}



